#login {
    width: 400px;
    height: 150px;
    margin: 200px auto 50px auto;
}
#space {
    padding: 0px 25px;
}
#welcome {
    text-align: center;
    margin_top: 200px;
}
#index {
    position:absolute;
    margin: -100px 0 0 300px
}
#table {
    width: 300px;
    height: 200px;
    margin: 200px auto 50px auto;
    border: solid 2px #000000;
    cellpadding: 4px;
}