body {	
	background: url('../images/fone.jpg') no-repeat;
}
.table {	    
	background-color: #336600;	
	border-right: solid 12px #A52A2A; border-left: solid 12px #A52A2A; border-bottom: solid 12px #A52A2A;
	border-top-left-radius: 10px; border-top-right-radius: 10px;
	border-bottom-left-radius: 400px; border-bottom-right-radius: 400px;	
}	
#title_bj {
	font: bold 60px serif;
	color: #2E8B57;
}
.button {   
	border: solid 2px #000000; border-radius: 15px; border-style:inset;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);	
	hover: background: #B8860B; 
}
.button_close {   
	border: solid 1px #000000; border-radius: 5px; border-style:inset;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);	
	hover: font: bold 20px arial; 
}
Input {    
	background: #DAA520; 
	box-shadow: 0 0 10px rgba(0,0,0,0.5); font: bold 20px arial;
}
.button:hover{
   background-color: #B8860B;
}
.card_layout {
	border: solid 2px #2E8B57;
	border-radius: 5px; 
}
.card_dealer {
    background: #FFF; 
	border: solid 2px #000000; border-radius: 5px; 
}
.card_player {
    background: #FFF; 
	border: solid 2px #000000; border-radius: 5px; 
}
.diamonds { 	
	background: url('../images/card_d.jpg') no-repeat;  
}
.clubs { 
	background: url('../images/card_c.jpg') no-repeat; 
}
.spades { 
	background: url('../images/card_s.jpg') no-repeat;  	
}
.hearts { 
	background: url('../images/card_h.jpg') no-repeat;	
}
.rank {	
	font: bold 20px arial, verdana, sans-serif; 	
}
.wind_popup{
    margin:40px auto 0px auto;
    padding:10px;
    background-color: #8FBC8F;
    border-radius:5px;
    box-shadow: 0px 0px 10px #000;	
	font: bold 25px arial, verdana, sans-serif; 
	color: #4F4F4F;
}
