body {	
			
}
.table {	
    position: fixed; width: 70%;  height: 75%;	right: 20%;	left: 15%; top: 0%; 
}
#title_bj {
	position: relative; right: 50%; margin-top: 130px;
}
#container_cards_diller {
	margin: 0 auto; position: absolute; top: 5px; width: 100%; height: 100px; 
}
#container_cards_player {
	margin: 0 auto; position: absolute; bottom: 15px; width: 100%; height: 100px; 
}
#container_buttons {
	position: absolute;  
	top: 0;  bottom: 0; left: 0; right: 0; width: 80%; height: 20%;  margin: auto; 
}
#container_popup {
	margin: 0 auto; position: absolute; top: 140px; width: 100%; height: 100px; 
}
.container_allign {
    position: relative;
    float: left;
    left: 50%;    
 }
#center { 
	text-align: center; 
}	
.button {
    width: 85px; height: 45px; position: relative; float: left; right: 50%; margin-left: 30px; margin-top: 20px;  
}
.button_close {
    width: 65px; height: 30px;
}
input {    
	width: 100%; height: 100%;
}
.card_layout {
    width: 60px; height: 90px; position: relative; float: left; right: 50%; margin-left: 10px; margin-top: 10px; 
}
.card_dealer {
    width: 60px; height: 90px; position: relative; float: left; right: 50%; margin-left: 10px; margin-top: 10px; 
}
.card_player {
    width: 60px; height: 90px; position: relative; float: left; right: 50%; margin-left: 10px; margin-top: 10px; 
}
.diamonds { 	
	width: 90%; height: 70%;    
	position: absolute; bottom: 2px; right: 2px; 
}
.clubs { 
	width: 90%; height: 70%; 
	position: absolute; bottom: 2px; right: 2px; 
}
.spades { 
	width: 90%; height: 70%;  
	position:absolute; bottom:2px; right:2px; 
}
.hearts { 
	width: 90%; height: 70%; 
	position: absolute; bottom: 2px; right: 2px; 
}
.rank {
	width: 10px; height: 15px; 	
	position: absolute; top: 2px; left: 2px;
}
.wind_popup {           
	width: 550px; height: 100px; 		
	position: relative; right: 50%; 
	text-allign: center;
}