#login {
    width: 400px;
    height: 150px;
    margin: 200px auto 50px auto;
}
#space {
    padding: 0px 27px;
}
#welcome {
    text-align: center;
    margin_top: 200px;
}
#index {
    position:absolute;
    margin: -100px 0 0 300px
}
